//variables

$color-primary: #28bf84;
$color-light: #22a699;
$color-dark: #1b9c85;

$color-secondary-light: #bbd6b8;
$color-secondary-dark: #6b9080;

$color-tertiary-light: #cce3de;
$color-tertiary-dark: #a4c3b2;

$color-gray-dark-2: #999;

$color-gray-dark: #777;
$color-white: #fff;
$color-varied: #333;
$color-black: #000;
$color-gray-light-1: #eaf4f4;

//Font
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; //the spaces betwin the columns
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
